.modal {
  right: 80px;
  top: 80px;
  position: absolute;
  color: white;
  background-color: #101010;
  padding: 40px;
  z-index: 2;

  border: rgba(255, 255, 255, 0.13) solid 2px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.checkout {
  // margin-top: 10px;
  padding: 15px;
  border-radius: 15px;
  align-self: center;

  background: none;
  color: white;
  outline: none;
  border: solid 2px #404040;

  cursor: pointer;

  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.modalEnterActive {
  animation: opacity 0.5s;
}

// .modalEnterDone {
//   opacity: 1;
// }

.modalExitActive {
  animation: opacity 0.5s reverse;
}

.modalExitDone {
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@media (max-width: 600px) {
  .modal {
    padding: 20px;
    top: 10px;
    right: 10px;
  }
}
