.modal {
  right: 50px;
  top: 50px;
  position: absolute;
  color: white;
  background-color: #101010;
  padding: 40px;

  border: rgba(255, 255, 255, 0.13) solid 2px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
}

.modalEnterActive {
  animation: opacity 0.5s;
}

// .modalEnterDone {
//   // opacity: 1;
// }

.modalExitActive {
  animation: opacity 0.5s reverse;
}

.modalExitDone {
  opacity: 0;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
