.main {
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-between;
  padding: 0 250px;
  padding-top: 200px;
  margin-bottom: 200px;
}

.image {
  width: 500px;
  height: 500px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

.size {
  display: flex;
  justify-content: space-between;
  gap: 45px;
  margin-bottom: 30px;

  span {
    font-size: 40px;
  }

  input[type=radio] {
    display: none;
  }

  label {
    display: inline;
    padding: 10px 15px;
    margin: auto;
    font-size: larger;
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type=radio]:checked + label {
    background-color: #7F0F05;
    box-shadow: 0px 0px 8px 8px rgba(120, 17, 7, 0.4);
  }
}

.button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
  

  font-size: 50px;
  font-weight: 400;
  letter-spacing: 5px;

  &:hover {
    color: #A61C10;
    // text-shadow: 0px 0px 5px 5px #7811074d;
    text-shadow: 0px 0px 25px #781107;
  }
}